<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6"> <h1>EXPENSES</h1> </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="bookings.list">
            <i class="glyphicon glyphicon-check"> LIST BOOKINGS</i>
          </a>
        </div>
    </div>
  </div>

  <div class="col-md-12" style="border: 1px solid grey;">
    <div class="row" style="border: 1px solid grey;">
            <div class="col-md-1"> Category </div>
            <div class="col-md-1"> Vendor </div>
            <div class="col-md-2"> Address </div>
            <div class="col-md-1"> Phone </div>
            <div class="col-md-1"> Booked on </div>
            <div class="col-md-1"> Booking for </div>
            <div class="col-md-1"> Total Amount </div>
            <div class="col-md-1"> Advance Amount </div>
            <div class="col-md-1"> Balance Amount </div>
            <div class="col-md-2"> Remarks </div>
    </div>
    <div class="row" ng-if="vm.booking.expenses.length <= 0" 
        style="text-align:center; font-size:22px; font-weight: bold; border: 1px solid grey;"> No Expenses found
    </div>
    <div class="row" ng-repeat="exp in vm.booking.expenses" style="border: 1px solid grey;">
            <div class="col-md-1"> {{exp.category[0]}} </div>
            <div class="col-md-1"> {{exp.vendor_name}} </div>
            <div class="col-md-2"> {{exp.vendor_address}} </div>
            <div class="col-md-1"> {{exp.vendor_phone}} </div>
            <div class="col-md-1"> {{exp.booking_on | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-1"> {{exp.booking_date | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-1"> Rs.{{exp.total_amount}} </div>
            <div class="col-md-1"> Rs.{{exp.advance_amount}} </div>
            <div class="col-md-1"> Rs.{{exp.total_amount - exp.advance_amount}} </div>
            <div class="col-md-2"> {{exp.remarks}} </div>
    </div>
  </div>

  <div class="col-md-12" style="min-height:30px;"></div>
  <div class="page-header">
    <h3>ADD EXPENSE</h3>
  </div>

  <div class="col-md-12">
    <form name="vm.form.expenseForm" ng-submit="vm.save(vm.form.expenseForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group col-md-6">
          <label class="control-label" for="category">Category:</label>
          <div class="controls">
            <select class="form-control" id="category" ng-model="vm.expense.category" ng-list>
              <option value="" disabled>Select Category</option>
              <option value="Transport">Transport</option>
              <option value="Accomodation">Accomodation</option>
              <option value="Food">Food</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="vendor_name">Vendor Name: </label>
          <input name="vendor_name" type="text" ng-model="vm.expense.vendor_name" id="vendor_name" class="form-control" placeholder="Vendor Name" required autofocus>
          <div ng-messages="vm.form.expenseForm.vendor_name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Vendor Name is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="vendor_address">Vendor Address: </label>
          <input name="vendor_address" type="text" ng-model="vm.expense.vendor_address" id="vendor_address" class="form-control" placeholder="Vendor Address" required>
          <div ng-messages="vm.form.expenseForm.vendor_address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Vendor Address is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="vendor_phone">Vendor Phone: </label>
          <input name="vendor_phone" type="text" ng-model="vm.expense.vendor_phone" id="vendor_phone" class="form-control" placeholder="Vendor Phone" required>
          <div ng-messages="vm.form.expenseForm.vendor_phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Vendor Phone is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" style="margin-bottom: 5px ! important;">
          <label class="control-label" for="booking_date">Booking Date: </label>
          <p class="input-group">
            <input type="text" class=" input-group form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="vm.expense.booking_date" is-open="vm.dateset.lr_date.isOpened" datepicker-options="vm.dateOptions" ng-required="true" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.selectDate($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="total_amount">Total Amount: </label>
          <input name="total_amount" type="text" ng-model="vm.expense.total_amount" id="total_amount" class="form-control" placeholder="Total Amount" required>
          <div ng-messages="vm.form.expenseForm.total_amount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Total Amount is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="advance_amount">Advance Amount: </label>
          <input name="advance_amount" type="text" ng-model="vm.expense.advance_amount" id="advance_amount" class="form-control" placeholder="Advance Amount" required>
          <div ng-messages="vm.form.expenseForm.advance_amount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Advance Amount is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="remarks">Remarks: </label>
          <input name="remarks" type="text" ng-model="vm.expense.remarks" id="remarks" class="form-control" placeholder="Remakrs">
        </div>

        <div class="col-md-12 text-center" style="margin-bottom:45px;margin-top:15px;">
          <button type="submit" class="btn btn-success">SAVE</button>
        </div>

      </fieldset>
    </form>
  </div>

</section>
