<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6"> <h1>Edit Booking</h1> </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="bookings.list">
            <i class="glyphicon glyphicon-check"> LIST BOOKINGS</i>
          </a>
        </div>
    </div>
  </div>

  <div class="col-md-12">
    <form name="vm.form.bookingForm" ng-submit="vm.save(vm.form.bookingForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group col-md-6" style="margin-bottom: 5px ! important;" show-errors>
          <label class="control-label" for="booking_date">Execution Date: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <p class="input-group" >
            <input type="text" class=" input-group form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="vm.booking.booking_date" is-open="vm.dateset.lr_date.isOpened" datepicker-options="vm.dateOptions" autofocus />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="vm.selectDate($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <div ng-messages="vm.form.bookingForm.booking_date.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Execution Date is required.</p>
          </div>
        </div>
        
        <div class="form-group col-md-6" show-errors>
            <label class="control-label" for="booking_time">Execution Time: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <p class="input-group bootstrap-timepicker timepicker" style="margin:0;">
              <div uib-timepicker ng-model="vm.booking.booking_time" hour-step="1" minute-step="15" show-meridian=true show-spinners=false></div>
            </p>
        </div>
        
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="school_name">School Name: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="school_name" type="text" ng-model="vm.booking.school_name" id="school_name" class="form-control" placeholder="School Name" required>
          <div ng-messages="vm.form.bookingForm.school_name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking school name is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="contact_person">Contact Person: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="contact_person" type="text" ng-model="vm.booking.contact_person" id="contact_person" class="form-control" placeholder="Contact Person" required>
          <div ng-messages="vm.form.bookingForm.contact_person.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking contact person is required.</p>
          </div>
        </div>
        
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="contact_email">Contact Email: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="contact_email" type="text" ng-model="vm.booking.contact_email" id="contact_email" class="form-control" placeholder="Contact Email" required>
          <div ng-messages="vm.form.bookingForm.contact_email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking contact email is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="contact_phone">Contact Phone: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="contact_phone" type="text" ng-model="vm.booking.contact_phone" id="contact_phone" class="form-control" placeholder="Contact Phone" required>
          <div ng-messages="vm.form.bookingForm.contact_phone.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking contact phone is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="no_of_students">No. of Students: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="no_of_students" type="text" ng-model="vm.booking.no_of_students" id="no_of_students" class="form-control" placeholder="No. of Students" required>
          <div ng-messages="vm.form.bookingForm.no_of_students.$error" role="alert">
            <p class="help-block error-text" ng-message="required">No. of Students is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="no_of_staff">No. of Staff: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="no_of_staff" type="text" ng-model="vm.booking.no_of_staff" id="no_of_staff" class="form-control" placeholder="No. of Staff" required>
          <div ng-messages="vm.form.bookingForm.no_of_students.$error" role="alert">
            <p class="help-block error-text" ng-message="required">No. of Staff is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="class">Class: </label>
          <input name="class" type="text" ng-model="vm.booking.class" id="class" class="form-control" placeholder="class">
          <div ng-messages="vm.form.bookingForm.class.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking class is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label class="control-label" for="tour_managers">Tour Managers</label>
          <div class="controls">
            <div class="multiselect" ng-dropdown-multiselect="" options="vm.users" selected-model="vm.booking.tour_managers" extra-settings="vm.multiselectSettings"></div>
          </div>
          <div ng-messages="vm.form.bookingForm.tour_managers.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking tour managers is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="destination">Destination: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <select class="form-control" id="itinery" ng-model="vm.booking.destination" ng-options="obj._id as obj.title for obj in vm.itineries">
              <option value=""disabled>Select Destination</option>                
          </select>
          <div ng-messages="vm.form.bookingForm.destination.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking destination is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="remarks">Remarks: </label>
          <input name="remarks" type="text" ng-model="vm.booking.remarks" id="remarks" class="form-control" placeholder="Remarks">
          <div ng-messages="vm.form.bookingForm.remarks.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Remarks is required.</p>
          </div>
        </div>

        <div class="form-group col-md-12" style="border-bottom: 1px solid grey;"> 
          <div class="col-md-6"><h4>DETAILS OF FINALIZED AMOUNT WITH SCHOOL </h4></div> 
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="booking_amount">Booking Amount (Per Person): <span style="color:green;font-weight:bolder;">  * </span> </label>
          <div class="col-sm-12 row">
            <p class="input-group date" style="margin:0;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-date"> &#8377; </button>
                </span>
                <input name="booking_amount" type="text" ng-model="vm.booking.booking_amount" id="booking_amount" class="form-control" placeholder="Booking Amount" required ng-change = "vm.calBookingAmount(vm.booking.booking_amount)">
            </p>                        
          </div>
          <div ng-messages="vm.form.bookingForm.booking_amount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Booking Amount is required.</p>
          </div>
        </div>

        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="total_booking_amount">Booking Amount (Total): <span style="color:green;font-weight:bolder;">  * </span> </label>
          <div class="col-sm-12 row">
            <p class="input-group date" style="margin:0;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-date"> &#8377; </button>
                </span>
                <input name="total_booking_amount" type="text" ng-model="vm.booking.total_booking_amount" id="total_booking_amount" class="form-control" placeholder="Total Booking Amount" required ng-change = "vm.convert(vm.booking.total_booking_amount)">
            </p>                        
          </div>
          <div ng-messages="vm.form.bookingForm.total_booking_amount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Total Booking Amount is required.</p>
          </div>
        </div>
        
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="bill_amount">Billing Amount: </label>
          <div class="col-sm-12 row">
            <p class="input-group date" style="margin:0;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-date"> &#8377; </button>
                </span>
                <input name="bill_amount" data-ng-model="vm.booking.billing.bill_amount" id="bill_amount" class="form-control" placeholder="Enter Bill Amount">
            </p>                        
          </div>
        </div>
        
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="gst_percentage">GST Percentage: </label>
          <div class="col-sm-12 row">
            <p class="input-group date" style="margin:0;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-date"> % </button>
                </span>
                <input name="amount_paid" data-ng-model="vm.booking.billing.gst_percentage" id="gst_percentage" class="form-control" placeholder="GST Percentage">
            </p>                        
          </div>
        </div>

        <div class="col-md-12 text-center" style="color:red;font-weight: bolder;">
          {{message}}
        </div>

        <div class="col-md-12 text-center" style="margin-bottom:45px;margin-top:15px;">
          <button type="submit" class="btn btn-success">{{vm.booking._id ? 'UPDATE' : 'SAVE'}}</button>
        </div>

      </fieldset>
    </form>
  </div>

</section>
