<section>
  <div class="page-header">
    <h1>Accounts</h1>
  </div>

  <div class="list-group table-responsive">
    <table class="table table-hover" id="myTable2">
        <thead>
            <tr>
                <th colspan="5" style="text-align:center;"></th>
                <th colspan="3" style="text-align:center;">Incomings (A)</th>
                <th colspan="3" style="text-align:center;">Outgoings (B)</th>
                <th style="text-align:center;"> A - B </th>
            </tr>
          <tr>
            <th ng-click="vm.sortTable(0)">Execution Date</th>
            <th ng-click="vm.sortTable(1)">Booking ID</th>
            <th ng-click="vm.sortTable(2)">Booked By</th>
            <th ng-click="vm.sortTable(3)">Tour Manager</th>
            <th ng-click="vm.sortTable(4)">School Name</th>
            <th ng-click="vm.sortTable(5)">Booking Amount(&#8377;)</th>
            <th ng-click="vm.sortTable(6)">Amount Received (&#8377;)</th>
            <th ng-click="vm.sortTable(7)">Amount Pending(&#8377;)</th>
            <th ng-click="vm.sortTable(8)">Pre Trip Expenses(&#8377;)</th>
            <th ng-click="vm.sortTable(9)">On Trip Expenses(&#8377;)</th>
            <th ng-click="vm.sortTable(10)">Total Expenses(&#8377;)</th>
            <th ng-click="vm.sortTable(11)">Savings(&#8377;)</th>
            <th ng-click="vm.sortTable(12)">Billing Amount(&#8377;)</th>
            <th ng-click="vm.sortTable(13)">GST Percentage(%)</th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="booking in vm.bookings">
            <td>{{booking.booking_date | date:'dd/MMM/yyyy'}}</td>
            <td>{{booking.booking_id}}</td>
            <td>{{booking.user.displayName}}</td>
            <td>
                <span ng-repeat="tm in booking.tour_managers">{{tm.displayName}},</span>
            </td>
            <td>{{booking.school_name}}</td>
            <td>{{booking.total_booking_amount}}</td>
            <td>{{vm.calculatePaidAmount(booking.amount_paid)}}</td>
            <td>{{vm.calculatePendingAmount(booking.amount_paid, booking.total_booking_amount)}}</td>
            <td>{{vm.calculateExpenses(booking)}}</td>
            <td>{{vm.onTripExpenses(booking)}}</td>
            <td>{{vm.calculateExpenses(booking) + vm.onTripExpenses(booking)}}</td>
            <td>{{vm.calculateBalance(booking)}}</td>
            <td>{{booking.billing[0].bill_amount}}</td>
            <td>{{booking.billing[0].gst_percentage}}</td>
            <td> <a class="btn btn-primary" ui-sref="bookings.view({bookingId: booking._id})">VIEW</a> </td>
             <td> <a class="btn btn-info" ng-click="vm.printBill(booking._id)">PRINT BILL</a> </td>
          </tr>
        </tbody>
    </table>
  </div>

  <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>

</section>
