<style>
  .mr5 {
    margin-right: 5px;
  }
</style>
<section>

  <div class="page-header">
    <h1>View Booking</h1>
  </div>

  <form name="vm.form.bookingForm" ng-submit="vm.save()" novalidate>
    <fieldset>

        <div class="form-group col-md-6">
          <label class="control-label" for="execution_date">Execution Date: {{vm.booking.booking_date | date:'dd/MMM/yyyy'}} </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_name">School Name: {{vm.booking.school_name}} </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_email_id">Contact Name: {{vm.booking.contact_person}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_email_id">Contact Email: {{vm.booking.contact_email}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_phone_no">Contact Phone: {{vm.booking.contact_phone}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_gprs">No. of Students: {{vm.booking.no_of_students}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_photo">Staff: {{vm.booking.no_of_staff}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="itinery">Class: {{vm.booking.class}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="plan">Destination: {{vm.booking.destination}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="food">Booking Amount: Rs.   {{vm.booking.booking_amount}}</label>
        </div>
    </fieldset>
  </form>

  <div class="page-header">
    <h3>PAYMENTS</h3>
  </div>

  <div class="col-md-12" style="border: 1px solid grey;">
    <div class="row" style="border: 1px solid grey;">
            <div class="col-md-2"> Amount </div>
            <div class="col-md-3"> Payment Date </div>
            <div class="col-md-3"> Payment Mode </div>
            <div class="col-md-3"> Payment Info </div>
    </div>
    <div class="row" ng-if="vm.booking.amount_paid.length <= 0" 
        style="text-align:center; font-size:22px; font-weight: bold; border: 1px solid grey;"> No Payments found
    </div>
    <div class="row" ng-repeat="exp in vm.booking.amount_paid" style="border: 1px solid grey;">
            <div class="col-md-2"> Rs. {{exp.amount_paid}} </div>
            <div class="col-md-3"> {{exp.payment_date | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-3"> {{exp.payment_mode[0]}} </div>
            <div class="col-md-3"> {{exp.cheque_number}} {{exp.transaction_number}}</div>
    </div>
  </div>

  <div style="margin:10px;clear:both;"></div>

  <div class="page-header">
    <h3>PRE-TRIP EXPENSES</h3>
  </div>

  <div class="col-md-12" style="border: 1px solid grey;">
    <div class="row" style="border: 1px solid grey;">
            <div class="col-md-1"> Category </div>
            <div class="col-md-1"> Vendor </div>
            <div class="col-md-2"> Address </div>
            <div class="col-md-1"> Phone </div>
            <div class="col-md-1"> Booked on </div>
            <div class="col-md-1"> Booking for </div>
            <div class="col-md-1"> Total Amount </div>
            <div class="col-md-1"> Advance Amount </div>
            <div class="col-md-1"> Balance Amount </div>
            <div class="col-md-2"> Remarks </div>
    </div>
    <div class="row" ng-if="vm.booking.expenses.length <= 0" 
        style="text-align:center; font-size:22px; font-weight: bold; border: 1px solid grey;"> No Expenses found
    </div>
    <div class="row" ng-repeat="exp in vm.booking.expenses" style="border: 1px solid grey;">
            <div class="col-md-1"> {{exp.category[0]}} </div>
            <div class="col-md-1"> {{exp.vendor_name}} </div>
            <div class="col-md-2"> {{exp.vendor_address}} </div>
            <div class="col-md-1"> {{exp.vendor_phone}} </div>
            <div class="col-md-1"> {{exp.booking_on | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-1"> {{exp.booking_date | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-1"> Rs.{{exp.total_amount}} </div>
            <div class="col-md-1"> Rs.{{exp.advance_amount}} </div>
            <div class="col-md-1"> Rs.{{exp.total_amount - exp.advance_amount}} </div>
            <div class="col-md-2"> {{exp.remarks}} </div>
    </div>
  </div>

  <div style="margin:10px;clear:both;"></div>

  <div class="page-header">
    <h3>ON-TRIP EXPENSES</h3>
  </div>

  <div class="col-md-12" style="border: 1px solid grey;">
    <div class="row" style="border: 1px solid grey;">
            <div class="col-md-2"> Transaction Date </div>
            <div class="col-md-6"> Details </div>
            <div class="col-md-2"> Credit </div>
            <div class="col-md-2"> Debit </div>
    </div>
    <div class="row" ng-if="vm.trip.transactions.length <= 0" 
        style="text-align:center; font-size:22px; font-weight: bold; border: 1px solid grey;"> No Payments found
    </div>
    <div class="row" ng-repeat="exp in vm.trip.transactions" style="border: 1px solid grey;">
            <div class="col-md-2"> {{exp.transaction_date | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-6"> 
                {{exp.category}},   {{exp.sub_category}}
                <span ng-if="exp.remarks != ''"><br> ({{exp.remarks}})</span>  
            </div>
            <div class="col-md-2">
                <span ng-if="exp.credit"> Rs. {{exp.amount}}</span> 
                <span ng-if="!exp.credit"></span>
            </div>
            <div class="col-md-2">
                <span ng-if="!exp.credit">Rs. {{exp.amount}}</span> 
                <span ng-if="exp.credit"></span> 
            </div>
    </div>
  </div>

  <div style="margin:10px;clear:both;padding-bottom:25px;"></div>
  
</section>
