<section>
  <div class="page-header">
      <div class="row">
        <div class="col-md-6">
          <h1>{{vm.itinery._id ? 'Edit Itinery' : 'New Itinery'}}</h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="itineries.list">
            <i class="glyphicon glyphicon-check"> LIST ITINERIES</i>
          </a>
        </div>
      </div>
  </div>
  <!-- <div class="pull-right">
    <a ng-show="vm.itinery._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div> -->
  <div class="col-md-12">
    <form name="vm.form.itineryForm" ng-submit="vm.save(vm.form.itineryForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group col-md-12" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.itinery.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.itineryForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Itinery title is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="country">Country</label>
          <div class="controls">
            <select class="form-control" id="country" ng-model="vm.itinery.international" ng-options="obj.name as obj.name for obj in vm.countries" ng-change="vm.onCountryChange()">
                <option disabled selected value="">-- choose a Country --</option>              
            </select>
          </div>
        </div>
        <div class="form-group col-md-6" ng-show="vm.itinery.international == 'India'">
          <label class="control-label" for="sstate">State</label>
          <div class="controls">  
            <div class="multiselect" ng-dropdown-multiselect="" options="vm.multiselectOptions" selected-model="vm.itinery.sstate" extra-settings="vm.multiselectSettings"></div> 
          </div>        
        </div>        
        <div class="form-group col-md-3">
          <label class="control-label" for="plan">Plan</label>
          <input name="plan" type="text" ng-model="vm.itinery.plan" id="plan" class="form-control" placeholder="Plan">
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="plan">Package Type</label>
          <div class="controls">
            <select class="form-control" id="package_type" ng-model="vm.itinery.package_type" ng-list>
              <option value=""disabled>Select Package Type</option>
              <option value="Resort Package">Resort Package</option>
              <option value="Day Return Package">Day Return Package</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="nights">Nights</label>
          <input name="nights" type="text" ng-model="vm.itinery.nights" id="nights" class="form-control" placeholder="Nights">
        </div>
        <div class="form-group col-md-3">
          <label class="control-label" for="days">Days</label>
          <input name="days" type="text" ng-model="vm.itinery.days" id="days" class="form-control" placeholder="Days">
        </div>
        <div class="form-group col-md-12">
          <label class="control-label" for="description">Description</label>
          <text-angular name="description" data-ng-model="vm.itinery.description" id="description"></text-angular>
        </div>
        <div class="form-group" style="text-align:center;padding-bottom:20px;">
          <button type="submit" class="btn btn-success">{{vm.itinery._id ? 'UPDATE' : 'CREATE'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
