<section>
  <div class="page-header">
    <div class="page-header">
      <div class="row">
        <div class="col-md-2">
          <h1>Itineries</h1>
        </div>
        <div class="col-md-4" style="margin-top: 2em">
          <input class="form-control col-md-4 ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()">
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="itineries.create">
            <i class="glyphicon glyphicon-check"> New Itinery</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group" ng-repeat="itinery in vm.itineries">
    <a ui-sref="itineries.view({ itineryId: itinery._id })" class="list-group-item col-md-11">
      <small class="list-group-item-text" style="float:right;">
        Created on
        <span ng-bind="itinery.created | date:'mediumDate'"></span>
        by
        <span ng-if="itinery.user" ng-bind="itinery.user.displayName"></span>
        <span ng-if="!itinery.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="itinery.title"></h4>
      <p class="list-group-item-text">Plan - {{itinery.plan}}</p>
      <p class="list-group-item-text">Nights / Days - {{itinery.nights}} N / {{itinery.days}} D</p>
      <p class="list-group-item-text">Country - {{itinery.international}}</p>
      <p class="list-group-item-text">State - 
        <span ng-repeat="st in itinery.sstate"> {{st.id}}, </span>
      </p>
    </a>
    <btn type="submit" class="btn btn-default col-md-1" style="float:right;margin-top:40px;margin-left:5px;width:7.5%;" ui-sref="itineries.edit({ itineryId: itinery._id })">Edit</btn>
  </div>
</section>
