<section>
  <div class="page-header">
      <div class="row">
        <div class="col-md-2">
          <h1>Itineries</h1>
        </div>
        <div class="col-md-4" style="margin-top: 2em">
          <input class="form-control col-md-4 ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()">
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="itineries.create" ng-if="vm.isUserAdmin">
            <i class="glyphicon glyphicon-check"> NEW ITINERY</i>
          </a>
        </div>
      </div>
      <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
              <label style="margin-top: 10px;vertical-align: top; margin-right:5px;">Resort Packages</label>
              <label class="switch resort_package">
                <input type="checkbox" ng-model="vm.resort_package" ng-change="vm.resortPackage()">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="col-md-2">
              <label style="margin-top: 10px;vertical-align: top; margin-right:5px;">Day Returns</label>
              <label class="switch day_return">
                <input type="checkbox" ng-model="vm.day_returns" ng-change="vm.dayReturns()">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="col-md-2">
              <label style="margin-top: 10px;vertical-align: top; margin-right:5px;">Island</label>
              <label class="switch island">
                <input type="checkbox" ng-model="vm.island" ng-change="vm.islands()">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="col-md-2">
              <label style="margin-top: 10px;vertical-align: top; margin-right:5px;">International</label>
              <label class="switch international">
                <input type="checkbox" ng-model="vm.international" ng-change="vm.internationals()">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="col-md-3" ng-show="!vm.international">
              <label style="margin-top: 10px;vertical-align: top; margin-right:5px; float:left;">State</label>
              <div class="controls" style="float:left; width:85%;">
                <select class="form-control" id="south_india" ng-model="vm.south_india" ng-list ng-change="vm.southIndia()">
                  <option value="">All States</option>
                  <option value="North India">North India</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Tamil Nadu">TamilNadu</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Puducherry">Puducherry</option>
                  <option value="Goa">Goa</option>
                </select>
              </div>
            </div>
      </div>
  </div>
  <div class="list-group" ng-repeat="itinery in vm.itineries">
    <a ui-sref="itineries.view({ itineryId: itinery._id })" class="list-group-item col-md-11" title="Click to view more details">
      <small class="list-group-item-text" style="float:right;">
        Created on
        <span ng-bind="itinery.created | date:'mediumDate'"></span>
        by
        <span ng-if="itinery.user" ng-bind="itinery.user.displayName"></span>
        <span ng-if="!itinery.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="itinery.title"></h4>
      <p class="list-group-item-text">Plan - {{itinery.plan}}</p>
      <p class="list-group-item-text">Nights / Days - {{itinery.nights}} N / {{itinery.days}} D</p>
      <p class="list-group-item-text">Country - {{itinery.international}}</p>
      <p class="list-group-item-text">State - 
        <span ng-repeat="st in itinery.sstate"> {{st.id}}, </span>
      </p>
      <p class="list-group-item-text">Package Type - {{itinery.package_type}}</p>
    </a>
    <btn type="submit" class="btn btn-warning col-md-1" ng-if="vm.isUserAdmin" style="float:right;margin-top:40px;margin-left:5px;width:7.5%;" 
        ui-sref="itineries.edit({ itineryId: itinery._id })">
              <i class="glyphicon glyphicon-pencil">  EDIT</i>
    </btn>
  </div>
  <div class="col-md-12" style="margin-bottom:50px;"></div>
</section>
  