<section>
  <div class="page-header">
      <div class="row">
        <div class="col-md-6">
          <h1 ng-bind="vm.itinery.title"></h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="itineries.list">
            <i class="glyphicon glyphicon-check"> LIST ITINERIES</i>
          </a>
        </div>
      </div>
  </div>
  <small style="float:right;">
    <em class="text-muted">
      Created on
      <span ng-bind="vm.itinery.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.itinery.user" ng-bind="vm.itinery.user.displayName"></span>
      <span ng-if="!vm.itinery.user">Deleted User</span>
    </em>
  </small>
  <p class="lead">Country - {{vm.itinery.international}}</p>
  <p class="lead">State - 
    <span ng-repeat="st in vm.itinery.sstate"> {{st.id}}, </span>
  </p>
  <p class="lead">Plan  - {{vm.itinery.plan}}</p>
  <p class="lead">Nights / Days  - {{vm.itinery.nights}} N / {{vm.itinery.days}} D</p>
  <p class="lead">Package Type  - {{vm.itinery.package_type}}</p>
  <br>
  <p class="lead"> {{vm.itinery.description}} </p>
</section>
