<style>
  .mr5 {
    margin-right: 5px;
  }

  .Section2 {
    box-shadow: 0 1px 2px #8a8383;
  }
</style>
<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>{{vm.enquiry._id ? 'Edit Enquiry' : 'New Enquiry'}}</h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="enquiries.list()">
            <i class="glyphicon glyphicon-check"> LIST ENQUIRIES</i>
          </a>
        </div>
    </div>
  </div>
  <form name="vm.form.enquiryForm" ng-submit="vm.save()" novalidate>
    <fieldset>
      <div class="col-md-12">
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="school_name">School Name: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="school_name" type="text" ng-model="vm.enquiry.school_name" id="school_name" class="form-control" placeholder="School Name" required autofocus>
          <div ng-messages="vm.form.enquiryForm.school_name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enquiry school name is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="contactPerson">Contact Person</label>
            <input name="plan" type="text" ng-model="vm.enquiry.school_contact_person" id="contactPerson" class="form-control" placeholder="Contact Person">
            <div ng-messages="vm.form.enquiryForm.contactPerson.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enquiry contact person is required.</p>
            </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="school_email_id">School Email: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="school_email_id" type="text" ng-model="vm.enquiry.school_email_id" id="school_email_id" class="form-control" placeholder="School Email" required>
          <div ng-messages="vm.form.enquiryForm.school_email_id.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enquiry school email is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="school_phone_no">School Phone: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <input name="school_phone_no" type="text" ng-model="vm.enquiry.school_phone_no" id="school_phone_no" class="form-control" placeholder="School Phone" required>
          <div ng-messages="vm.form.enquiryForm.school_phone_no.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enquiry school phone is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="alternate_email_id">Alternate Email: </label>
          <input name="alternate_email_id" type="text" ng-model="vm.enquiry.alternate_email_id" id="alternate_email_id" class="form-control" placeholder="Alternate Email">
          <div ng-messages="vm.form.enquiryForm.alternate_email_id.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alternate school email is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="alternate_phone_no">Alternate Phone: </label>
          <input name="alternate_phone_no" type="text" ng-model="vm.enquiry.alternate_phone_no" id="alternate_phone_no" class="form-control" placeholder="Alternate Phone">
          <div ng-messages="vm.form.enquiryForm.alternate_phone_no.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alternate school phone is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="school_address">School Address: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <textarea name="school_address" data-ng-model="vm.enquiry.school_address" id="school_address" class="form-control" rows="5" placeholder="School Address" required></textarea>
          <div ng-messages="vm.form.enquiryForm.school_address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enquiry school address is required.</p>
          </div>
        </div>
        <!-- <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="school_gprs">School Location (GPRS): </label>
           <input name="school_gprs" type="text" ng-model="vm.enquiry.school_gprs" id="school_gprs" class="form-control" placeholder="School GPRS" required autofocus>
          <div ng-messages="vm.form.enquiryForm.school_gprs.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enquiry school GPRS is required.</p>
          </div> 
        </div> -->
        <div class="form-group col-md-6" show-errors>
          <label class="control-label" for="school_photo">School Photo: </label>
          <input name="school_photo" type="text" ng-model="vm.enquiry.school_photo" id="school_photo" class="form-control" placeholder="School Photo">
          <div ng-messages="vm.form.enquiryForm.school_photo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enquiry school photo is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="enquiry_by">Enquiry By: <span style="color:green;font-weight:bolder;">  * </span></label>
          <div class="controls">  
              <div class="multiselect" ng-dropdown-multiselect="" options="vm.users" selected-model="vm.enquiry.enquiry_by" extra-settings="vm.usermultiselectSettings"></div> 
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 Section2" ng-repeat="enquiry in vm.enquiry.enquiries">
          <br>
          <div class="form-group col-md-6">
            <label class="control-label" for="itinery">Itinery: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <div class="controls">
              <select class="form-control" id="itinery" ng-model="enquiry.itineries" ng-options="obj._id as obj.title for obj in vm.itineries">
                <option value=""disabled>Select Itinery</option>                
              </select>
            </div>
            <div ng-messages="vm.form.enquiryForm.itinery.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enquiry itinery is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="plan">Plan: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <div class="controls">
              <select class="form-control" id="plan" ng-model="enquiry.plan">
                <option value="" disabled>Select Plan</option>    
                <option value="AP">AP</option>    
                <option value="EP">EP</option>    
                <option value="MAP">MAP</option>    
                <option value="Others">Others</option>    
              </select>
            </div>
            <div ng-messages="vm.form.enquiryForm.plan.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Plan is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="transport">Mode of transport: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <div class="controls">  
              <div class="multiselect" ng-dropdown-multiselect="" options="vm.transportOptions" selected-model="enquiry.transport" extra-settings="vm.multiselectSettings"></div> 
            </div>
            <div ng-messages="vm.form.enquiryForm.transport.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enquiry mode of transport is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="food">Food: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <div class="controls">
              <div class="multiselect" ng-dropdown-multiselect="" options="vm.foodOptions" selected-model="enquiry.food" extra-settings="vm.multiselectSettings"></div>               
            </div>
            <div ng-messages="vm.form.enquiryForm.food.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enquiry food is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="accomodation">Accomodation: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <div class="controls">
              <div class="multiselect" ng-dropdown-multiselect="" options="vm.accomodationOptions" selected-model="enquiry.accomodation" extra-settings="vm.multiselectSettings"></div>               
            </div>
            <div ng-messages="vm.form.enquiryForm.accomodation.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enquiry accomodation is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="itinery">Sharing: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <div class="controls">
              <div class="multiselect" ng-dropdown-multiselect="" options="vm.sharingOptions" selected-model="enquiry.sharing" extra-settings="vm.multiselectSettings"></div>               
            </div>
            <div ng-messages="vm.form.enquiryForm.sharing.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enquiry sharing is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="package_type">Package Type: <span style="color:green;font-weight:bolder;">  * </span> </label>
            <div class="controls">
              <select class="form-control" id="itinery" ng-model="enquiry.package_type">
                <option value="" disabled>Select Package Type</option>    
                <option value="Resort Package">Resort Package</option>    
                <option value="Day Return Package">Day Return Package</option>    
                <option value="Outstation">Outstation</option>    
                <option value="International">International</option>    
                <option value="Others">Others</option>    
              </select>
            </div>
            <div ng-messages="vm.form.enquiryForm.package_type.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Package type is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="class">Class: </label>
            <input name="class" type="text" ng-model="enquiry.school_class" id="class" class="form-control" placeholder="Class">
            <div ng-messages="vm.form.enquiryForm.class.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Enquiry class is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="no_of_students">No. Of Students: </label>
            <input name="no_of_students" type="text" ng-model="enquiry.no_of_students" id="no_of_students" class="form-control" placeholder="No. Of Students">
            <div ng-messages="vm.form.enquiryForm.no_of_students.$error" role="alert">
              <p class="help-block error-text" ng-message="required">No. Of Students is required.</p>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label" for="no_of_teachers">No. Of Teachers: </label>
            <input name="no_of_teachers" type="text" ng-model="enquiry.no_of_teachers" id="no_of_teachers" class="form-control" placeholder="No. Of Teachers">
            <div ng-messages="vm.form.enquiryForm.no_of_teachers.$error" role="alert">
              <p class="help-block error-text" ng-message="required">No. Of Teachers is required.</p>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label" for="remarks">Remarks: </label>
            <input name="remarks" type="text" ng-model="enquiry.remarks" id="remarks" class="form-control" placeholder="Remarks">
          </div>
        </div>
        <div class="form-group pull-right col-md-12" style="margin-top:15px;">
          <button type="button" ng-click="vm.rmEnquiry()" class="btn btn-danger" ng-show="vm.enquiry.enquiries.length > 1">
              <i class="glyphicon glyphicon-minus">  DELETE CLASS</i>
          </button>
          <button type="button" ng-click="vm.add()" class="btn btn-info">
              <i class="glyphicon glyphicon-plus">  ADD CLASS</i>
          </button>
        </div>
      </div>
      <div class="col-md-12 text-center" style="margin-bottom:30px;color: red;">
        {{message}}
      </div>
      <!-- <div class="co-md-12 mr5" style="display:block !important;"> -->
      <div class="col-md-12 text-center" style="margin-bottom:30px;">
        <button type="submit" class="btn btn-success">{{vm.enquiry._id ? 'UPDATE' : 'SAVE'}}</button>
      </div>
      <!-- </div> -->
    </fieldset>
  </form>
  <!-- </div> -->
</section>
