<section>
  <div class="page-header">
    <h1>Enquiries</h1>
  </div>

  <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="enquiry_id" class="col-sm-5 control-label">Enquiry Id:</label>
                <div class="col-sm-7">
                    <input id="enquiry_id" type="text" class="form-control" ng-model="vm.search.enquiry_id" 
                        placeholder="Enter Enquiry Id"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="school_name" class="col-sm-5 control-label">School Name:</label>
                <div class="col-sm-7">
                    <input id="school_name" type="text" class="form-control" ng-model="vm.search.school_name" 
                        placeholder="Enter School Name"/>
                </div>
            </div>
        </div>
        <div class="page-controls col-sm-4" style="text-align: center;">
            <div class="row" role="toolbar">
                <button type="button" class="btn btn-default" ng-click="vm.searches()">Search</button>
                <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
                <button type="button" class="btn btn-default" ng-click="vm.gotoNewEnquiry()">New Enquiry</button>
            </div>
        </div>
  </div>
  <br/><hr/>

  <div class="list-group table-responsive">
    <table class="table table-hover" id="myTable2">
        <thead>
          <tr>
            <th ng-click="vm.sortTable(0)">Enquiry Date</th>
            <th ng-click="vm.sortTable(1)">Enquiry ID</th>
            <th ng-click="vm.sortTable(2)">Enquired By</th>
            <th ng-click="vm.sortTable(3)">School Name</th>
            <th ng-click="vm.sortTable(3)">Email</th>
            <th ng-click="vm.sortTable(3)">Phone Number</th>
            <th ng-click="vm.sortTable(3)">Contact Person</th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="enquiry in vm.enquiries">
            <td>{{enquiry.created | date:'dd/MMM/yyyy'}}</td>
            <td>{{enquiry.enquiry_id}}</td>
            <td>{{enquiry.user.displayName}}</td>
            <td>{{enquiry.school_name}}</td>
            <td>{{enquiry.school_email_id}}</td>
            <td>{{enquiry.school_phone_no}}</td>
            <td>{{enquiry.school_contact_person}}</td>
            <td> <a class="btn btn-primary" ui-sref="enquiries.view({enquiryId: enquiry._id})">VIEW</a> </td>
            <td> <a class="btn btn-primary" ui-sref="enquiries.edit({enquiryId: enquiry._id})">EDIT</a> </td> 
          </tr>
        </tbody>
    </table>
  </div>

  <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  
</section>