<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>Enquiries</h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ng-click="vm.gotoNewEnquiry()">
            <i class="glyphicon glyphicon-check"> NEW ENQUIRY</i>
          </a>
        </div>
    </div>
  </div>

  <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="enquiry_id" class="col-sm-5 control-label">Enquiry Id:</label>
                <div class="col-sm-7">
                    <input id="enquiry_id" type="text" class="form-control" ng-model="vm.search.enquiry_id"
                        placeholder="Enter Enquiry Id"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="school_name" class="col-sm-5 control-label">School Name:</label>
                <div class="col-sm-7">
                    <input id="school_name" type="text" class="form-control" ng-model="vm.search.school_name"
                        placeholder="Enter School Name"/>
                </div>
            </div>
        </div>
        <div class="page-controls col-sm-4" style="text-align: center;">
            <div class="row" role="toolbar">
                <button type="button" class="btn btn-default" ng-click="vm.searches()">Search</button>
                <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
            </div>
        </div>
  </div>
  <br/><hr/>

  <div class="list-group table-responsive">
    <table class="table table-hover" id="myTable2" ng-table="vm.tableParams" show-filter="true">
        <thead>
          <tr>
            <th ng-click="vm.sortTable(0)">Enquiry Date</th>
            <!-- <th ng-click="vm.sortTable(1)">Enquiry ID</th> -->
            <th ng-click="vm.sortTable(1)">Enquired By</th>
            <th ng-click="vm.sortTable(2)">School Name</th>
            <!-- <th ng-click="vm.sortTable(4)">Email</th> -->
            <th ng-click="vm.sortTable(3)">Phone Number</th>
            <th ng-click="vm.sortTable(4)">Contact Person</th>
            <th ng-click="vm.sortTable(5)">Same School</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="enquiry in vm.enquiries" ng-class="vm.findBackgroundClass(enquiry)" title="{{vm.findBackgroundClass(enquiry)}}" style="color: white;">
            <td>{{enquiry.created | date:'dd/MMM/yyyy'}}</td>
            <!-- <td>{{enquiry.enquiry_id}}</td> -->
            <td>
                <span ng-repeat="enq in enquiry.enquiry_by">{{enq.displayName}}, <br> </span>
            </td>
            <td>{{enquiry.school_name}}</td>
            <!-- <td>{{enquiry.school_email_id}}</td> -->
            <td>{{enquiry.school_phone_no}}</td>
            <td>{{enquiry.school_contact_person}}</td>
            <td>{{vm.countSimilarSchool(enquiry.school_name)}}</td>
            <td> <a class="btn btn-warning" ui-sref="enquiries.view({enquiryId: enquiry._id})">VIEW</a> </td>
            <td> <a class="btn btn-danger" ui-sref="enquiries.edit({enquiryId: enquiry._id})">EDIT</a> </td>
            <td> <a class="btn btn-primary" ui-sref="enquiries.followup({enquiryId: enquiry._id})">FOLLOWUP</a> </td>
            <td>
                <a class="btn btn-info" ui-sref="quotations.view({enquiryId: enquiry.enquiry_id})" ng-if="vm.isUserAdmin">QUOTATIONS</a>
            </td>
            <td> <a class="btn btn-success" ui-sref="bookings.createnew({enquiryId: enquiry.enquiry_id})">BOOKINGS</a> </td>
          </tr>
        </tbody>
    </table>
  </div>

  <div class="col-md-8">
      <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  </div>
  <div class="col-md-4">
    <p> <span style="float:left;width:15px; height: 15px; border: 1px solid #347a53; background: #347a53;"> </span> &nbsp; Booking is confirmed</p>
    <p> <span style="float:left;width:15px; height: 15px; border: 1px solid #ed8b2c; background: #ed8b2c;"> </span> &nbsp; Enquired but not confirmed (Followup)</p>
    <p> <span style="float:left;width:15px; height: 15px; border: 1px solid #dc7c7c; background: #dc7c7c;"> </span> &nbsp; Send Quotations</p>
  </div>

</section>
