<section>
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>Quotations</h1>
            </div>
            <div class="col-md-4" style="float: right; margin-top: 2em">
                <a class="btn btn-primary" ui-sref="enquiries.list()">
            <i class="glyphicon glyphicon-check"> LIST ENQUIRIES</i>
          </a>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="vm.isSearched">
        <div class="col-sm-4 col-md-5">
            <div class="form-group">
                <label for="enquiry_id" class="col-sm-5 control-label">Enquiry Id:</label>
                <div class="col-sm-7">
                    <input id="enquiry_id" type="text" class="form-control" ng-model="vm.search.enquiry_id" placeholder="Enter Enquiry Id" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-5">
            <div class="form-group">
                <label for="school_name" class="col-sm-5 control-label">School Name:</label>
                <div class="col-sm-7">
                    <input id="school_name" type="text" class="form-control" ng-model="vm.search.school_name" placeholder="Enter School Name"
                    />
                </div>
            </div>
        </div>
        <div class="page-controls col-sm-2" style="text-align: center;">
            <div class="row" role="toolbar">
                <button type="button" class="btn btn-default" ng-click="vm.searches()">Search</button>
            </div>
        </div>
    </div>
    <hr ng-hide="vm.isSearched">

    <div class="col-md-12" ng-show="vm.isSearched">
        <form name="vm.form.itineryForm" novalidate>
            <fieldset>

                <div class="form-group col-md-12" ng-repeat="enq in vm.enquiry.enquiries track by $index">

                    <div class="row" style="margin-bottom:25px;">
                        <div class="row col-md-6">
                            <span style="overflow-y: scroll; max-height:530px; zoom:0.5; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical; background: #bababa;"
                                ng-bind-html="vm.findItinery(enq.itineries).description"></span>
                        </div>
                        <div class="row col-md-6">
                            <!-- Details -->
                            <div id="Details" class="tab-pane fade in" ng-class="{active:isSet(1)}">
                                <div class="col-md-12 card" style="zoom:0.8;max-height:500px;background:#bababa;">
                                    <div class="col-md-6">
                                        <b>Itinery: </b> {{vm.findItinery(enq.itineries).title}}
                                        <br><br>
                                        <b>Plan: </b> {{enq.plan}}
                                        <br><br>
                                        <b>Package Type: </b> {{enq.package_type}}
                                        <br><br>
                                        <b>Class: </b> {{enq.school_class}}
                                        <br><br>
                                        <b>No Of Students: </b> {{enq.no_of_students}}
                                        <br><br>
                                        <b>No Of Teachers: </b> {{enq.no_of_teachers}}
                                        <br><br>
                                        <b>Sharing: </b>
                                        <span ng-repeat="sh in enq.sharing"> {{sh}},  </span>
                                        <br><br>
                                        <b>Remarks: </b> {{enq.remarks}}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="school_name">School Name: {{vm.enquiry.school_name}}</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="school_email_id">Email ID: {{vm.enquiry.school_email_id}}</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="school_phone_no">Phone No: {{vm.enquiry.school_phone_no}}</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="school_contact_person">Contact Person: {{vm.enquiry.school_contact_person}}</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="enquired_by">Enquired By: 
                                                <span ng-repeat="enq in vm.enquiry.enquiry_by"> {{enq.displayName}},  </span>
                                            </label>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="alternate_email_id">Alternate Email: {{vm.enquiry.alternate_email_id}}</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="school_phone_no">Alternate Phone: {{vm.enquiry.alternate_phone_no}}</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label class="control-label" for="school_address">Address: {{vm.enquiry.school_address}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs">
                        <!-- <li ng-class="{active:isSet(1)}"><a ng-click="setTab(1)" href="#Details">Details</a></li> -->
                        <li ng-class="{active:isSet(1)}"><a ng-click="setTab(1)" href="#New">New Quotations</a></li>
                        <li ng-class="{active:isSet(2)}"><a ng-click="setTab(2)" href="#Existing">Existing Quotation</a></li>
                        <li ng-class="{active:isSet(3)}"><a ng-click="setTab(3)" href="#Saved">Saved Quotations</a></li>
                    </ul>

                    <div class="tab-content">

                        <!-- New Quotation  -->
                        <div id="New" class="tab-pane fade in" ng-class="{active:isSet(1)}">
                            <div class="col-md-12 card table_rows_set">

                                <div class="row" style="border-bottom:0;">
                                    <div class="col-sm-1">
                                        <span ng-click="vm.show_transport= !vm.show_transport"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4> Transport: </h4>
                                    </div>
                                    <div class="col-sm-2"> </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.addTransport($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-plus">  Add Transport </i>
                                </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.removeTransport($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-minus">  Remove Transport </i>
                                </button>
                                    </div>
                                    <div class="col-sm-1"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="transport_remarks">Remarks: </label>
                                    <div class="col-sm-4">
                                        <input name="transport_remarks" type="text" ng-model="enq.quotations[0].transport_remarks" id="transport_remarks" class="form-control"
                                            placeholder="Remarks">
                                    </div>
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="transport_total">Total: </label>
                                    <div class="col-sm-3">
                                        <input name="transport_total" type="text" ng-model="enq.quotations[0].transport_total" id="transport_total" class="form-control"
                                            placeholder="Total" ng-change="vm.calculate_total_total(enq.quotations[0])" ng-value="vm.calculateEachTotal(enq.quotations[0].transport)">
                                    </div>
                                </div>

                                <div classs="row" ng-repeat="transport in enq.quotations[0].transport track by $index" ng-show="vm.show_transport">
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_mode">Transport Mode: </label>
                                        <select class="form-control" id="transport_mode" ng-model="enq.transport[$index]">
                                    <option value="" disabled>Select Mode</option>  
                                    <option value="A/C bus">A/C bus</option>    
                                    <option value="Non A/C bus">Non A/C bus</option>    
                                    <option value="A/C train">A/C train</option>    
                                    <option value="Non A/C train">Non A/C train</option>    
                                    <option value="Flight">Flight</option>    
                                </select>
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_seating">Seating: </label>
                                        <input name="transport_seating" type="text" ng-model="transport.seating" id="transport_seating" class="form-control" placeholder="Seating"
                                            autofocus>
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_toll">Toll: </label>
                                        <input name="transport_toll" type="text" ng-model="transport.toll" id="transport_toll" class="form-control" placeholder="Toll"
                                            ng-change="vm.addtoamtTrans(transport)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_bata">Bata: </label>
                                        <input name="transport_bata" type="text" ng-model="transport.bata" id="transport_bata" class="form-control" placeholder="Bata"
                                            ng-change="vm.addtoamtTrans(transport)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_tax">Tax: </label>
                                        <input name="transport_tax" type="text" ng-model="transport.tax" id="transport_tax" class="form-control" placeholder="Tax"
                                            ng-change="vm.addtoamtTrans(transport)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_parking">Parking: </label>
                                        <input name="transport_parking" type="text" ng-model="transport.parking" id="transport_parking" class="form-control" placeholder="Parking"
                                            ng-change="vm.addtoamtTrans(transport)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="price_per_km">Price / KMs: </label>
                                        <input name="price_per_km" type="text" ng-model="transport.price_per_km" id="price_per_km" class="form-control" placeholder="Price Per KM"
                                            ng-change="vm.addtoamtTrans(transport)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="kms">Total KMs: </label>
                                        <input name="kms" type="text" ng-model="transport.kms" id="kms" class="form-control" placeholder="Total KMs" ng-change="vm.addtoamtTrans(transport)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_others">Others: </label>
                                        <input name="transport_others" type="text" ng-model="transport.others" id="transport_others" class="form-control" placeholder="Others"
                                            ng-change="vm.addtoamtTrans(transport)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_amount">Total: </label>
                                        <input name="transport_amount" type="text" ng-model="transport.amount" id="transport_amount" class="form-control" placeholder="Total">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="per_amount">Total / Person: </label>
                                        <input name="per_amount" type="text" ng-model="transport.per_amount" id="per_amount" class="form-control" placeholder="Total Per Person"
                                            ng-change="vm.onTransportTotalChange(enq.quotations[0])">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="remarks">Remarks: </label>
                                        <input name="remarks" type="text" ng-model="transport.remarks" id="remarks" class="form-control" placeholder="Remarks">
                                    </div>
                                    <hr class="col-md-12">
                                </div>

                                <div class="row" style="border-bottom:0;">
                                    <div class="col-sm-1">
                                        <span ng-click="vm.show_accomodation= !vm.show_accomodation"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4> Accomodation: </h4>
                                    </div>
                                    <div class="col-sm-2"> </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.addAccomodation($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-plus">  Add Accomodation </i>
                                </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.removeAccomodation($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-minus">  Remove Accomodation </i>
                                </button>
                                    </div>
                                    <div class="col-sm-1"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="accomodation_remarks">Remarks: </label>
                                    <div class="col-sm-4">
                                        <input name="accomodation_remarks" type="text" ng-model="enq.quotations[0].accomodation_remarks" id="accomodation_remarks"
                                            class="form-control" placeholder="Remarks">
                                    </div>
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="accomodation_total">Total: </label>
                                    <div class="col-sm-3">
                                        <input name="accomodation_total" type="text" ng-model="enq.quotations[0].accomodation_total" id="accomodation_total" class="form-control"
                                            placeholder="Total" ng-change="vm.calculate_total_total(enq.quotations[0])" ng-value="vm.calculateEachTotal(enq.quotations[0].accomodation)">
                                    </div>
                                </div>

                                <div classs="row" ng-repeat="accomodation in enq.quotations[0].accomodation track by $index" ng-show="vm.show_accomodation">
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_mode">Accomodation Type: </label>
                                        <select class="form-control" id="transport_mode" ng-model="enq.accomodation[$index]">
                                    <option value="" disabled>Select Type</option>  
                                    <option value="A/C">A/C</option>    
                                    <option value="Non A/C">Non A/C</option>    
                                    <option value="Dormitory">Dormitory</option>    
                                </select>
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_seating">Room Charge Or No Of Rooms: </label>
                                        <input name="transport_seating" type="text" ng-model="accomodation.beds" id="transport_seating" class="form-control" placeholder="Beds">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_bata">Bed Charge: </label>
                                        <input name="transport_bata" type="text" ng-model="accomodation.charge" id="transport_bata" class="form-control" placeholder="Bed Charge"
                                            ng-change="vm.addtoamtACC(accomodation)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_tax">Tax: </label>
                                        <input name="transport_tax" type="text" ng-model="accomodation.tax" id="transport_tax" class="form-control" placeholder="Tax"
                                            ng-change="vm.addtoamtACC(accomodation)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_others">Others: </label>
                                        <input name="transport_others" type="text" ng-model="accomodation.others" id="transport_others" class="form-control" placeholder="Others"
                                            ng-change="vm.addtoamtACC(accomodation)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_amount">Total: </label>
                                        <input name="transport_amount" type="text" ng-model="accomodation.amount" id="transport_amount" class="form-control" placeholder="Total">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_per_amount">Total / Person: </label>
                                        <input name="transport_per_amount" type="text" ng-model="accomodation.per_amount" id="transport_per_amount" class="form-control"
                                            placeholder="Total Per Person" ng-change="vm.onAccTotalChange(enq.quotations[0])">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_remarks">Remarks: </label>
                                        <input name="transport_remarks" type="text" ng-model="accomodation.remarks" id="transport_remarks" class="form-control" placeholder="Remarks">
                                    </div>
                                    <hr class="col-md-12">
                                </div>

                                <div class="row" style="border-bottom:0;">
                                    <div class="col-sm-1">
                                        <span ng-click="vm.show_food= !vm.show_food"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4> Food: </h4>
                                    </div>
                                    <div class="col-sm-2"> </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.addFood($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-plus">  Add Food </i>
                                </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.removeFood($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-minus">  Remove Food </i>
                                </button>
                                    </div>
                                    <div class="col-sm-1"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="food_remarks">Remarks: </label>
                                    <div class="col-sm-4">
                                        <input name="food_remarks" type="text" ng-model="enq.quotations[0].food_remarks" id="food_remarks" class="form-control" placeholder="Remarks">
                                    </div>
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="food_total">Total: </label>
                                    <div class="col-sm-3">
                                        <input name="food_total" type="text" ng-model="enq.quotations[0].food_total" id="food_total" class="form-control" placeholder="Total"
                                            ng-change="vm.calculate_total_total(enq.quotations[0])" ng-value="vm.calculateEachTotal(enq.quotations[0].food)">
                                    </div>
                                </div>

                                <div classs="row" ng-repeat="food in enq.quotations[0].food track by $index" ng-show="vm.show_food">
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_mode">Food Type: </label>
                                        <select class="form-control" id="transport_mode" ng-model="enq.food[$index]">
                                    <option value="" disabled>Select Type</option>  
                                    <option value="Self catering">Self catering</option>    
                                    <option value="Hotel">Hotel</option>    
                                </select>
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="food_no_days">No Of Days: </label>
                                        <input name="food_no_days" type="text" ng-model="food.no_of_days" id="food_no_days" class="form-control" placeholder="No Of Days"
                                            ng-change="vm.addtoamtFOOD(food)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="food_no_pax">No Of Pax: </label>
                                        <input name="food_no_pax" type="text" ng-model="food.no_of_person" id="food_no_pax" class="form-control" placeholder="No Of Pax"
                                            ng-change="vm.addtoamtFOOD(food)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_tax">Tax: </label>
                                        <input name="transport_tax" type="text" ng-model="food.tax" id="transport_tax" class="form-control" placeholder="Tax" ng-change="vm.addtoamtFOOD(food)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_others">Others: </label>
                                        <input name="transport_others" type="text" ng-model="food.others" id="transport_others" class="form-control" placeholder="Others"
                                            ng-change="vm.addtoamtFOOD(food)">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_amount">Total: </label>
                                        <input name="transport_amount" type="text" ng-model="food.amount" id="transport_amount" class="form-control" placeholder="Total">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_per_amount">Total / Person: </label>
                                        <input name="transport_per_amount" type="text" ng-model="food.per_amount" id="transport_per_amount" class="form-control"
                                            placeholder="Total Per Person" ng-change="vm.onFoodTotalChange(enq.quotations[0])">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_remarks">Remarks: </label>
                                        <input name="transport_remarks" type="text" ng-model="food.remarks" id="transport_remarks" class="form-control" placeholder="Remarks">
                                    </div>
                                    <hr class="col-md-12">
                                </div>

                                <div class="row" style="border-bottom:0;">
                                    <div class="col-sm-1">
                                        <span ng-click="vm.show_entry= !vm.show_entry"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4> Entry: </h4>
                                    </div>
                                    <div class="col-sm-2"> </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.addEntry($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-plus">  Add Entry </i>
                                </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.removeEntry($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-minus">  Remove Entry </i>
                                </button>
                                    </div>
                                    <div class="col-sm-1"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="entry_remarks">Remarks: </label>
                                    <div class="col-sm-4">
                                        <input name="entry_remarks" type="text" ng-model="enq.quotations[0].entry_remarks" id="entry_remarks" class="form-control"
                                            placeholder="Remarks">
                                    </div>
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="entry_total">Total: </label>
                                    <div class="col-sm-3">
                                        <input name="entry_total" type="text" ng-model="enq.quotations[0].entry_total" id="entry_total" class="form-control" placeholder="Total"
                                            ng-change="vm.calculate_total_total(enq.quotations[0])" ng-value="vm.calculateEachTotal(enq.quotations[0].entry)">
                                    </div>
                                </div>

                                <div classs="row" ng-repeat="entry in enq.quotations[0].entry track by $index" ng-show="vm.show_entry">
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_others">Particular: </label>
                                        <input name="transport_others" type="text" ng-model="enq.entry[$index]" id="transport_others" class="form-control" placeholder="Particular">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_amount">Amount: </label>
                                        <input name="transport_amount" type="text" ng-model="entry.amount" id="transport_amount" class="form-control" placeholder="Amount"
                                            ng-change="vm.onEntryTotalChange(enq.quotations[0])">
                                    </div>
                                    <hr class="col-md-12">
                                </div>

                                <div class="row" style="border-bottom:0;">
                                    <div class="col-sm-1">
                                        <span ng-click="vm.show_extras= !vm.show_extras"><i class="glyphicon glyphicon glyphicon-th-list"></i></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4> Extras: </h4>
                                    </div>
                                    <div class="col-sm-2"> </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.addExtras($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-plus">  Add Extras </i>
                                </button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" ng-click="vm.removeExtras($index)" class="btn btn-info">
                                    <i class="glyphicon glyphicon-minus">  Remove Extras </i>
                                </button>
                                    </div>
                                    <div class="col-sm-1"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="extras_remarks">Remarks: </label>
                                    <div class="col-sm-4">
                                        <input name="extras_remarks" type="text" ng-model="enq.quotations[0].extras_remarks" id="extras_remarks" class="form-control"
                                            placeholder="Remarks">
                                    </div>
                                    <div class="col-sm-1"> </div>
                                    <label class="control-label col-sm-1" for="extras_total">Total: </label>
                                    <div class="col-sm-3">
                                        <input name="extras_total" type="text" ng-model="enq.quotations[0].extra_total" id="extras_total" class="form-control" placeholder="Total"
                                            ng-change="vm.calculate_total_total(enq.quotations[0])" ng-value="vm.calculateEachTotal(enq.quotations[0].extras)">
                                    </div>
                                </div>

                                <div classs="row" ng-repeat="extra in enq.quotations[0].extras track by $index" ng-show="vm.show_extras">
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_others">Particular: </label>
                                        <input name="transport_others" type="text" ng-model="enq.entry[$index]" id="transport_others" class="form-control" placeholder="Particular">
                                    </div>
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_amount">Amount: </label>
                                        <input name="transport_amount" type="text" ng-model="extra.amount" id="transport_amount" class="form-control" placeholder="Amount"
                                            ng-change="vm.onExtraTotalChange(enq.quotations[0])">
                                    </div>
                                    <hr class="col-md-12">
                                </div>

                                <div classs="row">
                                    <div class="form-group col-md-6" show-errors>
                                        <label class="control-label" for="transport_others">Remarks: </label>
                                        <input name="transport_others" type="text" ng-model="enq.quotations[0].remarks" id="transport_others" class="form-control"
                                            placeholder="Remarks">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="total_total">Total: </label>
                                        <input name="total_total" type="text" ng-model="enq.quotations[0].total_total" id="total_total" class="form-control" placeholder="Total">
                                        <!-- Total: &nbsp; Rs. {{vm.findTotal(enq.quotations[0])}} -->
                                    </div>
                                </div>

                                <br>
                                <div class="form-group col-md-12" style="margin-top:10px;text-align:center;">
                                    <button class="btn btn-success" ng-click="vm.save()">SAVE</button>
                                </div>

                            </div>
                        </div>

                        <!-- Existing Quotation  -->
                        <div id="Existing" class="tab-pane fade in" ng-class="{active:isSet(2)}">
                            <div class="col-md-12 card table_rows_set">
                                <div class="col-md-6">
                                    <div class="row"><b>Date of Quotation:</b></div>
                                    <div ng-repeat="trans in enq.transport track by $index">
                                        <div class="row">
                                            <div class="col-md-4" ng-if="$index == 0"><b>Transport </b></div>
                                            <div class="col-md-4" ng-if="$index != 0"></div>
                                            <div class="col-md-4">{{trans}}</div>
                                            <div class="col-md-4">Seating</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">KMs</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Price/KM</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Toll</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Bata</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Tax</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Others</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Parking</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Total</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Remarks</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"><b>Amount/Person</b></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Remarks</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Total</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div ng-repeat="acc in enq.accomodation track by $index">
                                        <div class="row">
                                            <div class="col-md-4" ng-if="$index == 0"><b>Accomodation </b></div>
                                            <div class="col-md-4" ng-if="$index != 0"></div>
                                            <div class="col-md-4">{{acc}}</div>
                                            <div class="col-md-4">Beds</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Seating</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Charge</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Tax</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Others</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Total</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Remarks</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"><b>Amount/Person</b></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Remarks</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Total</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div ng-repeat="food in enq.food track by $index">
                                        <div class="row">
                                            <div class="col-md-4" ng-if="$index == 0"><b>Food </b></div>
                                            <div class="col-md-4" ng-if="$index != 0"></div>
                                            <div class="col-md-4">{{food}}</div>
                                            <div class="col-md-4">No. Of Person</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">No. Of Days</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Others</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Amount</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Tax</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">Remarks</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4"><b>Amount/Person</b></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Remarks</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Total</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row" ng-repeat="entry in enq.entry track by $index">
                                        <div class="col-md-6" ng-if="$index == 0"><b>Entry </b></div>
                                        <div class="col-md-6" ng-if="$index != 0"></div>
                                        <div class="col-md-6">{{entry}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Remarks</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Total</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row" ng-repeat="ext in enq.extras track by $index">
                                        <div class="col-md-6" ng-if="$index == 0"><b>Other Expenses </b></div>
                                        <div class="col-md-6" ng-if="$index != 0"></div>
                                        <div class="col-md-6">{{ext}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Remarks</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"><b>Total</b></div>
                                        <div class="col-md-4"></div>
                                    </div>
                                    <div class="row"> <b>Remarks</b> </div>
                                    <div class="row"> <b>Total</b> </div>
                                </div>
                                <div class="col-md-6" style="overflow-x: scroll;padding: 0;float: left;display: flex;">
                                    <div class="col-md-4" ng-repeat="quot in enq.quotations" ng-show="$index != 0">
                                        <div class="row">{{quot.createdon| date:'dd/MMM/yyyy'}}</div>
                                        <div ng-repeat="transport in quot.transport track by $index">
                                            <div class="row"> {{transport.seating}} </div>
                                            <div class="row"> {{transport.kms}} </div>
                                            <div class="row"> Rs. {{transport.price_per_km}} </div>
                                            <div class="row"> Rs. {{transport.toll}} </div>
                                            <div class="row"> Rs. {{transport.bata}} </div>
                                            <div class="row"> Rs. {{transport.tax}} </div>
                                            <div class="row"> Rs. {{transport.others}} </div>
                                            <div class="row"> Rs. {{transport.parking}} </div>
                                            <div class="row"> Rs. {{transport.amount}} </div>
                                            <div class="row"> {{transport.remarks}} </div>
                                            <div class="row"> <b> Rs. {{transport.per_amount}} </b> </div>
                                        </div>
                                        <div class="row"> {{quot.transport_remarks}} </div>
                                        <div class="row"> <b> Rs. {{quot.transport_total}} </b> </div>
                                        <div ng-repeat="accomodation in quot.accomodation track by $index">
                                            <div class="row"> {{accomodation.beds}} </div>
                                            <div class="row"> {{accomodation.seating}} </div>
                                            <div class="row"> Rs. {{accomodation.charge}} </div>
                                            <div class="row"> Rs. {{accomodation.tax}} </div>
                                            <div class="row"> Rs. {{accomodation.others}} </div>
                                            <div class="row"> Rs. {{accomodation.amount}} </div>
                                            <div class="row"> {{accomodation.remarks}} </div>
                                            <div class="row"> <b> Rs. {{accomodation.per_amount}} </b> </div>
                                        </div>
                                        <div class="row"> {{quot.accomodation_remarks}} </div>
                                        <div class="row"> <b> Rs. {{quot.accomodation_total}} </b> </div>
                                        <div ng-repeat="food in quot.food track by $index">
                                            <div class="row"> {{food.no_of_person}} </div>
                                            <div class="row"> {{food.no_of_days}} </div>
                                            <div class="row"> Rs. {{food.others}} </div>
                                            <div class="row"> Rs. {{food.amount}} </div>
                                            <div class="row"> Rs. {{food.tax}} </div>
                                            <div class="row"> {{food.remarks}} </div>
                                            <div class="row"> <b> Rs. {{food.per_amount}} </b> </div>
                                        </div>
                                        <div class="row"> {{quot.food_remarks}} </div>
                                        <div class="row"> <b> Rs. {{quot.food_total}} </b> </div>
                                        <div ng-repeat="entry in quot.entry track by $index">
                                            <div class="row"> <b>Rs. {{entry.amount}}</b> </div>
                                        </div>
                                        <div class="row"> {{quot.entry_remarks}} </div>
                                        <div class="row"> <b> Rs. {{quot.entry_total}} </b> </div>
                                        <div ng-repeat="ext in quot.extras track by $index">
                                            <div class="row"> <b>Rs. {{ext.amount}}</b> </div>
                                        </div>
                                        <div class="row"> {{quot.extras_remarks}} </div>
                                        <div class="row"> <b> Rs. {{quot.extra_total}} </b> </div>
                                        <div class="row">{{quot.remarks}}</div>
                                        <div class="row"><b>Rs. {{quot.total_total}}</b></div>
                                        <div class="row" style="border:none; margin-top: 10px;">
                                            <button type="button" class="btn btn-info" ng-click="vm.sendMail(quot)">SEND MAIL</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Saved Quotation  -->
                        <div id="Saved" class="tab-pane fade in" ng-class="{active:isSet(3)}">
                            <div class="col-md-12 card table_rows_set" style="text-align:center;font-weight: bolder; font-size: 18px;">
                                NO SIMILAR QUOTATIONS FOUND!!!
                            </div>
                        </div>

                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</section>

<style>
    .table_rows_set .row {
        font-size: 16px;
        line-height: 2.128571;
        color: #333;
        border-bottom: 2px solid grey;
    }
</style>