<style>
  .mr5 {
    margin-right: 5px;
  }

  .Section2 {
    box-shadow: 0 1px 2px #8a8383;
  }
</style>
<section>

  <div class="page-header">
    <h1>View Enquiry</h1>
  </div>

  <form name="vm.form.enquiryForm" ng-submit="vm.save()" novalidate>
    <fieldset>

      <div class="col-md-12">
        <div class="form-group col-md-6">
          <label class="control-label" for="school_name">School Name: {{vm.enquiry.school_name}} </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_email_id">School Email: {{vm.enquiry.school_email_id}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_email_id">Contact Person: {{vm.enquiry.school_contact_person}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_phone_no">School Phone: {{vm.enquiry.school_phone_no}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_gprs">School GPRS: {{vm.enquiry.school_gprs}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_photo">School Photo: {{vm.enquiry.school_photo}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="school_address">School Address: {{vm.enquiry.school_address}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="enquiry_by">Enquiry By: {{vm.enquiry.enquiry_by}}</label>
        </div>
      </div>

      <div class="col-md-12 Section2" ng-repeat="enquiry in vm.enquiry.enquiries">
        <br>
        <div class="form-group col-md-6">
          <label class="control-label" for="itinery">Itinery: {{enquiry.itineries}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="plan">Plan: {{enquiry.plan}}</label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="transport">Mode of transport: 
              <span ng-repeat="enq in enquiry.transport">{{enq}},   </span>
          </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="food">Food: 
              <span ng-repeat="enq in enquiry.food">{{enq}},  </span>
          </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="accomodation">Accomodation: 
              <span ng-repeat="enq in enquiry.accomodation">{{enq}},  </span>
          </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="itinery">Sharing: 
              <span ng-repeat="enq in enquiry.sharing">{{enq}},  </span>
          </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="contactPerson">Package type:  
              <span ng-repeat="enq in enquiry.package_type">{{enq}},  </span>            
          </label>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="class">Class: {{enquiry.school_class}}</label>
        </div>
      </div>

    </fieldset>
  </form>

</section>
