<section>
  <div class="page-header row">
    <div class="col-md-6">
      <h1>User <span ng-bind="vm.user.username"></span></h1>
    </div>
    <div class="col-md-4" style="float: right; margin-top: 2em">
      <a class="btn btn-primary" ui-sref="admin.users">
        <i class="glyphicon glyphicon-check"> LIST USER</i>
      </a>
    </div>
  </div>

  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group col-md-6" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <select class="form-control" id="roles" ng-model="vm.user.roles" ng-list required>
                <option disabled selected value="">-- choose a Role --</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
                <option value="marketing">Marketing</option>
                <option value="executive">Executive</option>
            </select>
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label for="aadhaar_no">Aadhaar No.</label>
          <input type="text" id="aadhaar_no" name="aadhaar_no" class="form-control" ng-model="vm.user.aadhaar_no" placeholder="Aadhaar Number" required />
          <div ng-messages="vm.userForm.aadhaar_no.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Aadhaar No is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="pan_no">PAN No.</label>
          <input type="text" id="pan_no" name="pan_no" class="form-control" ng-model="vm.user.pan_no" placeholder="PAN No." />
        </div>
        <div class="form-group col-md-6">
          <label for="pf_no">PF No.</label>
          <input type="text" id="pf_no" name="pf_no" class="form-control" ng-model="vm.user.pf_no" placeholder="PF No." />
        </div>
        <div class="form-group col-md-6">
          <label for="esi_no">ESI No.</label>
          <input type="text" id="esi_no" name="esi_no" class="form-control" ng-model="vm.user.esi_no" placeholder="ESI NO." />
        </div>
        <div class="form-group col-md-6" show-errors>
          <label for="phone_no">Phone No.</label>
          <input type="text" id="phone_no" name="phone_no" class="form-control" ng-model="vm.user.phone_no" placeholder="Phone Number" required />
          <div ng-messages="vm.userForm.phone_no.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Phone Number is required.</p>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="alternate_no">Alternate No.</label>
          <input type="text" id="alternate_no" name="alternate_no" class="form-control" ng-model="vm.user.alternate_no" placeholder="Alternate Number" />
        </div>
        <div class="form-group col-md-6">
          <label class="control-label" for="types">Types</label>
          <div class="controls">
            <select class="form-control" id="types" ng-model="vm.user.user_type" ng-list required>
                <option disabled selected value="">-- choose a Type --</option>
                <option value="permanent">Permanent</option>
                <option value="temporary">Temporary</option>
                <option value="outsourced">Outsourced</option>
            </select>
            <div ng-messages="vm.userForm.types.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one type is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="address">Address</label>
           <textarea rows="1" id="address" name="address" class="form-control" ng-model="vm.user.address" placeholder="Address"></textarea> 
        </div>
        <div class="form-group text-center" style="text-align:center;">
          <input type="submit" value="UPDATE" class="btn btn-success">
        </div>
      </fieldset>
    </form>
  </div>
</section>
