<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-2">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
      <div class="col-md-4" style="float: right; margin-top: 2em">
        <a class="btn btn-primary" ui-sref="authentication.signup">
          <i class="glyphicon glyphicon-check"> NEW USER</i>
        </a>
      </div>
    </div>
  </div>
  <div class="list-group">
      <div class="list-group table-responsive">
        <table class="table table-hover" id="myTable2">
            <thead>
              <tr>
                <th ng-click="vm.sortTable(0)">User Name</th>
                <th ng-click="vm.sortTable(1)">Roles</th>
                <th ng-click="vm.sortTable(2)">Email</th>
                <th ng-click="vm.sortTable(3)">Phone No.</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in vm.pagedItems"> 
                    <td>{{user.username}}</td>
                    <td>{{user.roles[0]}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone_no}}</td>
                    <td><a class="btn btn-warning" ui-sref="admin.user({userId: user._id})"> VIEW </a> </td>
                    <td><a class="btn btn-danger" ui-sref="admin.user-edit({userId: user._id})">EDIT</a></td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
