<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="vm.user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: vm.user._id})" style="margin-top: 20px;">
          <i class="glyphicon glyphicon-edit">   EDIT</i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf()" style="margin-top: 20px;">
          <i class="glyphicon glyphicon-trash">   DELETE</i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="vm.user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="vm.user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="vm.user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Phone No.</strong></div>
        <div class="col-md-6" ng-bind="vm.user.phone_no"></div>
      </div> 
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>User Type</strong></div>
        <div class="col-md-6" ng-bind="vm.user.user_type"></div>
      </div> 
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Address</strong></div>
        <div class="col-md-6" ng-bind="vm.user.address"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="vm.user.roles"></div>
      </div>
      <hr/>
    </div>
    <div class="col-md-1" style="border-right:5px solid grey !important;min-height:60vh;"></div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6"><strong>No. of Enquiries</strong></div>
        <div class="col-md-6">{{vm.findNoOfEnquiries(vm.user)}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>No. Of Bookings Got</strong></div>
        <div class="col-md-6" ng-bind="vm.findNoOfBookingsGot(vm.user)"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Total Cash Received</strong></div>
        <div class="col-md-6" ng-bind="vm.totalCashReceived(vm.user)"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Advances Received</strong></div>
        <div class="col-md-6" ng-bind="vm.advancesReceived(vm.user)"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Bata</strong></div>
        <div class="col-md-6" ng-bind="vm.calculateBata(vm.user)"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Profit & Loss of Indivitual</strong></div>
        <div class="col-md-6" ng-bind="vm.calculateProfitLoss(vm.user)"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6"><strong>Remarks</strong></div>
        <div class="col-md-6" ng-bind="vm.getRemarks(vm.user)"></div>
      </div>
      <hr/>
    </div>
  </div>
</section>
