<section style="padding-top:25px;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            <span data-counter="counterup" data-value={{vm.bookings.length}}>{{vm.bookings.length}}</span>
                        </h3>
                        <small>TOTAL Itineries</small>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-paperclip"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">
                            <span data-counter="counterup" data-value={{vm.enquiries.length}}>{{vm.enquiries.length}}</span>
                        </h3>
                        <small>NEW ENQUIRIES</small>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">
                            <span data-counter="counterup" data-value={{vm.bookings.length}}>{{vm.bookings.length}}</span>
                        </h3>
                        <small>RECEIVED BOOKINGS</small>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-purple-soft">
                            <span data-counter="counterup" data-value={{vm.trips.length}}>{{vm.trips.length}}</span>
                        </h3>
                        <small>ALL TRIPS</small>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="padding-top:25px;">
    <p style="font-size:30px; font-weight:bold; color:green;text-align:center;">
        MORE STATS & GRAPHS COMING SOON... <br>
        Meanwhile, browse through other sections!
    </p>
</section>