<style>
  .mr5 {
    margin-right: 5px;
  }

  .Section2 {
    box-shadow: 0 1px 2px #8a8383;
  }
</style>
<section>
  <div class="page-header">
    <h1>Add Expenses</h1>
  </div>
  <form name="vm.form.tripForm" ng-submit="vm.save()" novalidate>
    <fieldset>
        
        <div class="col-md-12">
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip.executiveId">Executive: {{vm.findExecutiveName(vm.trip.executive_id)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="bookingId">Booking ID: {{vm.trip.booking_id}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_date">Start Date: {{vm.trip.trip_start_date | date:'dd/MMM/yyyy'}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_by">Start By: {{vm.findExecutiveName(vm.trip.trip_start_by)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="balance_amount">Balance Amount: {{vm.calculateBalance(vm.trip.transactions)}}</label>
          </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6 col-md-offset-3">
                <label class="control-label col-md-3" for="expense.category">Category: </label>
                <div class="col-md-9">
                    <div class="controls">
                        <select class="form-control" id="expense.category" ng-model="vm.expense.category">
                            <option value="" disabled>Select Category</option>
                            <option value="Entry">Entry</option>
                            <option value="Teachers Allowance">Teachers Allowance</option>
                            <option value="Students Allowance">Students Allowance</option>
                            <option value="Cook">Cook</option>
                            <option value="Transport">Transport</option>
                            <option value="Tour Manager Expenses">Tour Manager Expenses</option>
                            <option value="Others">Others</option>
                        </select>
                        <div ng-messages="vm.form.tripForm.expense.category.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Expense Category is required.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3" ng-show="vm.expense.category == 'Tour Manager Expenses'">
                <label class="control-label col-md-3" for="expense.sub_category">Sub Category: </label>
                <div class="col-md-9">
                    <div class="controls">
                        <select class="form-control" id="expense.sub_category" ng-model="vm.expense.sub_category">
                            <option value="" disabled>Select Sub-Category</option>
                            <option value="Bata">Bata</option>
                            <option value="Others">Others</option>
                        </select>
                        <div ng-messages="vm.form.tripForm.expense.sub_category.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Expense Sub-Category is required.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3" ng-show="vm.expense.category == 'Transport'">
                <label class="control-label col-md-3" for="expense.sub_category">Sub Category: </label>
                <div class="col-md-9">
                    <div class="controls">
                        <select class="form-control" id="expense.sub_category" ng-model="vm.expense.sub_category">
                            <option value="" disabled>Select Sub-Category</option>
                            <option value="Tips">Tips</option>
                            <option value="Advance">Advance</option>
                            <option value="Bata">Bata</option>
                            <option value="Others">Others</option>
                        </select>
                        <div ng-messages="vm.form.tripForm.expense.sub_category.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Expense Sub-Category is required.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3" ng-show="vm.expense.category == 'Cook'">
                <label class="control-label col-md-3" for="expense.sub_category">Sub Category: </label>
                <div class="col-md-9">
                    <div class="controls">
                        <select class="form-control" id="expense.sub_category" ng-model="vm.expense.sub_category">
                            <option value="" disabled>Select Sub-Category</option>
                            <option value="Tips">Tips</option>
                            <option value="Advance">Advance</option>
                            <option value="Gas">Gas</option>
                            <option value="Others">Others</option>
                        </select>
                        <div ng-messages="vm.form.tripForm.expense.sub_category.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Expense Sub-Category is required.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3" ng-show="vm.expense.category == 'Teachers Allowance'">
                <label class="control-label col-md-3" for="expense.sub_category">Sub Category: </label>
                <div class="col-md-9">
                    <div class="controls">
                        <select class="form-control" id="expense.sub_category" ng-model="vm.expense.sub_category">
                            <option value="" disabled>Select Sub-Category</option>
                            <option value="Coffee Or Tea Or Juice">Coffee/Tea/Juice</option>
                            <option value="Snacks">Snacks</option>
                            <option value="Others">Others</option>
                        </select>
                        <div ng-messages="vm.form.tripForm.expense.sub_category.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Expense Sub-Category is required.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3" ng-show="vm.expense.category == 'Students Allowance'">
                <label class="control-label col-md-3" for="expense.sub_category">Sub Category: </label>
                <div class="col-md-9">
                    <div class="controls">
                        <select class="form-control" id="expense.sub_category" ng-model="vm.expense.sub_category">
                            <option value="" disabled>Select Sub-Category</option>
                            <option value="Snacks">Snacks</option>
                            <option value="Others">Others</option>
                        </select>
                        <div ng-messages="vm.form.tripForm.expense.sub_category.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Expense Sub-Category is required.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <label class="control-label col-md-3" for="tranactionAmount">Amount: </label>
                <div class="col-md-9">
                    <input name="tranactionAmount" type="text" ng-model="vm.expense.amount" id="tranactionAmount" class="form-control" placeholder="Amount Paid" required autofocus>
                    <div ng-messages="vm.form.tripForm.tranactionAmount.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Expense amount is required.</p>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <label class="control-label col-md-3" for="remarks">Remarks: </label>
                <div class="col-md-9">
                    <input name="remarks" type="text" ng-model="vm.expense.remarks" id="remarks" class="form-control" placeholder="Remarks">
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <label class="control-label col-md-3" for="image">Image: </label>
                <div class="col-md-9">
                    <input name="image" type="text" ng-model="vm.expense.image" id="image" class="form-control" placeholder="Image">
                </div>
            </div>
            
            <div class="form-group col-md-6 col-md-offset-3">
                <button style="text-align:center;" type="submit" class="btn btn-default">Save</button>
            </div>
        </div>

    </fieldset>
  </form>
</section>
