<style>
  .mr5 {
    margin-right: 5px;
  }

  .Section2 {
    box-shadow: 0 1px 2px #8a8383;
  }
</style>
<section>
  <div class="page-header">
    <h1>Add Balance</h1>
  </div>
  <form name="vm.form.tripForm" ng-submit="vm.save()" novalidate>
    <fieldset>
        
        <div class="col-md-12">
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip.executiveId">Executive: {{vm.findExecutiveName(vm.trip.executive_id)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="bookingId">Booking ID: {{vm.trip.booking_id}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_date">Start Date: {{vm.trip.trip_start_date | date:'dd/MMM/yyyy'}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_by">Start By: {{vm.findExecutiveName(vm.trip.trip_start_by)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="balance_amount">Balance Amount: {{vm.calculateBalance(vm.trip.transactions)}}</label>
          </div>
        </div>

        <div class="col-md-12">
            <div class="form-group col-md-6 col-md-offset-3">
                <label class="control-label col-md-3" for="tranactionAmount">Amount: </label>
                <div class="col-md-9">
                    <input name="tranactionAmount" type="text" ng-model="vm.expense.amount" id="tranactionAmount" class="form-control" placeholder="Amount Paid" required autofocus>
                    <div ng-messages="vm.form.tripForm.tranactionAmount.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Expense amount is required.</p>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <label class="control-label col-md-3" for="remarks">Remarks: </label>
                <div class="col-md-9">
                    <input name="remarks" type="text" ng-model="vm.expense.remarks" id="remarks" class="form-control" placeholder="Remarks">
                </div>
            </div>

            <div class="form-group col-md-6 col-md-offset-3">
                <button style="text-align:center;" type="submit" class="btn btn-default">Save</button>
            </div>
        </div>

    </fieldset>
  </form>
</section>
