<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>Trips</h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <!-- <a class="btn btn-primary" ui-sref="trips.start()" ng-if="vm.isUserAdmin">
            <i class="glyphicon glyphicon-check"> START TRIP</i>
          </a> -->
        </div>
    </div>
  </div>

  <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="trip_id" class="col-sm-5 control-label">Trip Id:</label>
                <div class="col-sm-7">
                    <input id="trip_id" type="text" class="form-control" ng-model="vm.search.trip_id" 
                        placeholder="Enter Trip Id"/>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label for="booking_id" class="col-sm-5 control-label">Booking ID:</label>
                <div class="col-sm-7">
                    <input id="booking_id" type="text" class="form-control" ng-model="vm.search.booking_id" 
                    placeholder="Enter Booking Id"/>
                </div>
            </div> 
        </div>
        <div class="page-controls col-sm-4" style="text-align: center;">
            <div class="row" role="toolbar">
                <button type="button" class="btn btn-default" ng-click="vm.searches()">Search</button>
                <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
            </div>
        </div>
  </div>
  <br/><hr/>

  <div class="list-group table-responsive">
    <table class="table table-hover" id="myTable2">
        <thead>
          <tr>
            <th ng-click="vm.sortTable(0)">School Name</th>
            <th ng-click="vm.sortTable(1)">Booking ID</th>
            <th ng-click="vm.sortTable(2)">Executives Name</th>
            <th ng-click="vm.sortTable(3)">Trip Status</th>
            <th ng-click="vm.sortTable(3)">Balance Amount</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="trip in vm.trips">
            <td>{{trip.booking.school_name}}</td>
            <td>{{trip.booking_id}}</td>
            <td>
                <span ng-repeat="executive in trip.executive_id">{{executive.displayName}}  <br></span>
            </td>
            <td ng-style="{color: (vm.findTripStatus(trip) == 'Ongoing' ? 'brown' : (vm.findTripStatus(trip) == 'Upcoming' ? 'green' : 'red'))}">
                {{vm.findTripStatus(trip)}}
            </td>
            <td ng-style="{color: (vm.calculateBalance(trip.transactions) <= 0 && vm.findTripStatus(trip) == 'Ongoing' ? 'red' : '')}">
                &#8377; {{vm.calculateBalance(trip.transactions)}}
            </td>

            <td ng-show="vm.findTripStatus(trip) == 'Upcoming' && vm.isTripStartable(trip)"> 
                <a class="btn btn-success" ui-sref="trips.start({tripId: trip._id})">START TRIP</a> 
            </td>
            <td ng-show="vm.findTripStatus(trip) != 'Upcoming' || !vm.isTripStartable(trip)"> 
            </td>

            <td ng-show="vm.findTripStatus(trip) == 'Ongoing'" ng-if="vm.isUserAdmin">
                <a class="btn btn-danger" ui-sref="trips.end({tripId: trip._id})">END TRIP</a> 
            </td>
            <td ng-show="vm.findTripStatus(trip) == 'Ongoing'"> 
                <a class="btn btn-danger" ui-sref="trips.add-expenses({tripId: trip._id})">ADD EXPENSES</a> 
            </td>
            <td ng-show="vm.findTripStatus(trip) != 'Ongoing'"> 
            </td>

            <td ng-show="vm.findTripStatus(trip) != 'Completed'" ng-if="vm.isUserAdmin"> 
                <a class="btn btn-warning" ui-sref="trips.add-balance({tripId: trip._id})">ADD BALANCE</a> 
            </td>
            <td ng-show="vm.findTripStatus(trip) == 'Completed' || !vm.isUserAdmin"> 
            </td>

            <td> 
                <a class="btn btn-primary" ui-sref="trips.show-details({tripId: trip._id})">SHOW DETAILS</a> 
            </td>

            <td> 
                <a class="btn btn-info" ui-sref="trips.view-passbook({tripId: trip._id})">VIEW PASSBOOK</a> 
            </td> 

          </tr>
        </tbody>
    </table>
  </div>

  <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  
</section>