<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>Trip Details</h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="trips.list()">
            <i class="glyphicon glyphicon-check"> LIST TRIPS</i>
          </a>
        </div>
    </div>
  </div>

  <div class="row">
        <div class="col-md-12">
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="tripId">Trip ID: {{vm.trip.trip_id}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="bookingId">Booking ID: {{vm.trip.booking_id}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_date">Start Datetime: {{vm.trip.trip_start_date | date:'dd/MMM/yyyy HH:MM a'}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_end_date">End Date: {{vm.trip.trip_end_date | date:'dd/MMM/yyyy'}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_by">Start By: {{vm.trip.trip_start_by}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_end_by">End By: {{vm.findExecutive(vm.trip.trip_end_by)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip.executiveId">Executive: 
              <span ng-repeat="exe in vm.trip.executive_id"> {{exe.displayName}}, &nbsp; </span>
            </label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="balance_amount">Balance Amount: &#8377; {{vm.calculateBalance(vm.trip.transactions)}}</label>
          </div>
        </div>
  </div>

  <div class="page-header">
    <h3>VENDOR BOOKINGS</h3>
  </div>

  <div class="col-md-12" style="border: 1px solid grey;">
    <div class="row" style="border: 1px solid grey;">
            <div class="col-md-2"> Category </div>
            <div class="col-md-2"> Vendor </div>
            <div class="col-md-3"> Address </div>
            <div class="col-md-1"> Phone </div>
            <div class="col-md-1"> Booked on </div>
            <div class="col-md-1"> Booking for </div>
            <div class="col-md-1"> Balance Amount </div>
    </div>
    <div class="row" ng-if="vm.booking.expenses.length <= 0" 
        style="text-align:center; font-size:22px; font-weight: bold; border: 1px solid grey;"> No Bookings found
    </div>
    <div class="row" ng-repeat="exp in vm.booking.expenses" style="border: 1px solid grey;">
            <div class="col-md-2"> {{exp.category[0]}} </div>
            <div class="col-md-2"> {{exp.vendor_name}} </div>
            <div class="col-md-3"> {{exp.vendor_address}} </div>
            <div class="col-md-1"> {{exp.vendor_phone}} </div>
            <div class="col-md-1"> {{exp.booking_on | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-1"> {{exp.booking_date | date:'dd/MMM/yyyy'}} </div>
            <div class="col-md-1"> &#8377; {{exp.total_amount - exp.advance_amount}} </div>
    </div>
  </div>

  <div style="margin:10px;clear:both;padding-bottom:25px;"></div>

  <div class="page-header">
    <h3>ITINERY</h3>
  </div>

  <div class="col-md-12" style="border: 1px solid grey;">
    <div class="col-md-6"> <b>Plan: </b> &nbsp; {{vm.itinery.plan}} </div>
    <div class="col-md-6"> <b>Nights / Days: </b> &nbsp; {{vm.itinery.nights}} N / {{vm.itinery.days}} D </div>
    <div class="col-md-6"> <b>Country: </b> &nbsp; {{vm.itinery.international}} </div>
    <div class="col-md-6"> <b>State: </b> &nbsp; 
          <span ng-repeat="sstate in vm.itinery.sstate">{{sstate.id}}, </span> 
    </div>
    <div class="col-md-6"> <b>Package: </b> &nbsp; {{vm.itinery.package_type}} </div>
    <div class="col-md-12" ng-bind-html="vm.itinery.description"></div>
  </div>

  <div style="margin:10px;clear:both;padding-bottom:25px;"></div>
  

</section>