<style>
  .mr5 {
    margin-right: 5px;
  }

  .Section2 {
    box-shadow: 0 1px 2px #8a8383;
  }
</style>
<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>Start Trip</h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="trips.list()">
            <i class="glyphicon glyphicon-check"> LIST TRIPS</i>
          </a>
        </div>
    </div>
  </div>
  <form name="vm.form.tripForm" ng-submit="vm.save('receivedAmount')" novalidate>
    <fieldset>
      <div class="col-md-12">
        <div class="form-group col-md-6 col-md-offset-3">
          <label class="control-label col-md-4" for="tranactionAmount">Amount: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <div class="col-md-8">
          <input name="tranactionAmount" type="text" ng-model="vm.amount" id="tranactionAmount" class="form-control" placeholder="Amount Received" required autofocus
            awnum num-sep="," num-int="10" num-fract="0" num-thousand="true" num-thousand-sep=",">
          <div ng-messages="vm.form.tripForm.tranactionAmount.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Trip tranaction amount is required.</p>
          </div>
        </div>
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <label class="control-label col-md-4" for="no_of_students">No Of Students: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <div class="col-md-8">
            <input name="no_of_students" type="text" ng-model="vm.trip.no_of_students" id="no_of_students" class="form-control" placeholder="No Of Students" required autofocus>
            <div ng-messages="vm.form.tripForm.no_of_students.$error" role="alert">
              <p class="help-block error-text" ng-message="required">No Of Students is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <label class="control-label col-md-4" for="no_of_teachers">No Of Teachers: <span style="color:green;font-weight:bolder;">  * </span> </label>
          <div class="col-md-8">
            <input name="no_of_teachers" type="text" ng-model="vm.trip.no_of_teachers" id="no_of_teachers" class="form-control" placeholder="No Of Teachers" required autofocus>
            <div ng-messages="vm.form.tripForm.no_of_teachers.$error" role="alert">
              <p class="help-block error-text" ng-message="required">No Of Teachers is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-md-offset-3">
          <label class="control-label col-md-4" for="bookingId">Remarks: </label>
          <div class="col-md-8">
            <input name="remarks" type="text" ng-model="vm.remarks" id="remarks" class="form-control" placeholder="Remarks">
          </div>
        </div>
        <div class="text-center form-group col-md-6 col-md-offset-3">
          <button type="submit" class="btn btn-success">START TRIP</button>
        </div>
      </div>
      <!-- </div> -->
    </fieldset>
  </form>
  <!-- </div> -->
</section>
