<section>
  <div class="page-header">
    <div class="row">
        <div class="col-md-6">
            <h1>Passbook</h1>
        </div>
        <div class="col-md-4" style="float: right; margin-top: 2em">
          <a class="btn btn-primary" ui-sref="trips.list()">
            <i class="glyphicon glyphicon-check"> LIST TRIPS</i>
          </a>
        </div>
    </div>
  </div>

  <div class="row">
        <div class="col-md-12">
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="tripId">Trip ID: {{vm.trip.trip_id}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="bookingId">Booking ID: {{vm.trip.booking_id}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_date">Start Date: {{vm.trip.trip_start_date | date:'dd/MMM/yyyy'}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_end_date">End Date: {{vm.trip.trip_end_date | date:'dd/MMM/yyyy'}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_start_by">Start By: {{vm.findExecutive(vm.trip.trip_start_by)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip_end_by">End By: {{vm.findExecutive(vm.trip.trip_end_by)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="trip.executiveId">Executive: {{vm.findExecutiveName(vm.trip.executive_id)}}</label>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label col-md-12" for="balance_amount">Balance Amount: {{vm.calculateBalance(vm.trip.transactions)}}</label>
          </div>
        </div>
  </div>
  <br/><hr/>

  <div class="list-group table-responsive">
    <table class="table table-hover" id="myTable2">
        <thead>
          <tr>
            <th>Date</th>
            <th>Reason</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transaction in vm.trip.transactions">
            <td>{{transaction.transaction_date | date:'dd/MMM/yyyy   hh:m a'}}</td>
            <td>
              {{transaction.category}}
              <span ng-if="transaction.sub_category != ''"> - {{transaction.sub_category}} </span>
              <span ng-if="transaction.remarks != ''"> ({{transaction.remarks}}) </span>
            </td>
            <td>
              <span ng-if="transaction.credit">{{transaction.amount}}</span>
            </td>
            <td>
              <span ng-if="!transaction.credit">{{transaction.amount}}</span>
            </td>
            <td>{{transaction.balance}}</td>
          </tr>
        </tbody>
    </table>
  </div>

  <uib-pagination boundary-links="true" max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  
</section>